html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font: 16px / 1 sans-serif;
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
}

.game-board {
  display: flex;
  justify-content: space-around;
  flex-basis: 100%;
  background: #0236CA;
  flex-grow: 1;
}

.category {
  flex-basis: 300px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: stretch;
  text-align: center;
}

/* Hah! CSS voodoo! */
.category:not(:last-child) {
  border-right: 2px solid black;
}

.category h2{
  flex-basis: 50px;
}

.question {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* align-items: stretch; */
}

.question > * {
  /* border: 2px solid blue; */
  color: #DEB81A;
  text-decoration: underline;
  font-size: 3em;
}

.category .question{
  border-top: 2px solid black;
  cursor: pointer;
}

.category .question.questionAsked {
  background: orange;
  cursor: default;
}

.player-section {
  color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.active {
  color: red;
}

